# /etc/cron.d/PLUGINNAME: plugin crontab
# Unlike any other crontab you don't have to run the `crontab'
# command to install the new version when you edit this file
# and files in /etc/cron.d. These files also have username fields,
# that none of the other crontabs do.

MAILTO=""
SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin

# m h dom mon dow user  command
# Scheduling is handled via LoxBerry cron symlinks in the system cron folders.
# The postinstall.sh places a symlink for mbus2mqtt_cronjob.sh in cron.05min by default.
# The plugin UI (webfrontend/htmlauth/index.php) moves the symlink to change the interval.
